@if (selectedItem === 'Circular') {
<div id="Circular">
    <div class="container-fluid">
        <div class="example">
            <form class="k-form" [formGroup]="form">
                <h5>REGISTRO DATOS ADICIONALES DE LA CIRCULAR</h5>
                <kendo-progressbar [value]="progress" [disabled]="!isDisabled"
                    [indeterminate]="!form.valid"></kendo-progressbar>
                <div class="container">
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-5 d-flex justify-content-start">
                            <kendo-label text="Numero de Circular">
                                <kendo-textbox formControlName="numero_circular"></kendo-textbox>
                            </kendo-label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 mt-3"></div>
                        <div class="col-5 d-flex justify-content-start">
                            <kendo-label style="margin-bottom: -10px" [for]="fecha" text="Fecha">
                            </kendo-label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-5 d-flex justify-content-start">
                            <kendo-datepicker #fecha formControlName="fecha"
                                placeholder="Choose a date ..."></kendo-datepicker>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row mt-3 justify-content-center">
                        <div class="col-12 ml-2 col-md-4 col-lg-2 mb-3 d-flex justify-content-center">
                            <button kendoButton (click)="GenerarCicular()" [disabled]="!form.valid" fillMode="outline"
                                size="large" rounded="medium" themeColor="info" [svgIcon]="wordIcon"
                                [disabled]="isDisabled">Generar Circular</button>
                            <span class="ps-2">
                                @if (isDisabled) {
                                <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                                </kendo-loader>
                                }

                            </span>
                        </div>
                        <div class="col-12 ml-2 col-md-4 col-lg-2 mb-3 d-flex justify-content-center">
                            <button kendoButton (click)="CopiarCircular()" [disabled]="!form.valid" fillMode="outline"
                                size="large" rounded="medium" themeColor="tertiary" [svgIcon]="copyIcon"
                                [disabled]="isCoping">Copiar Archivos</button>
                            <span class="ps-2"> </span>
                            @if (isCoping) {
                            <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                            </kendo-loader>
                            }

                        </div>
                        <div class="col-12 ml-2 col-md-4  col-lg-2 mb-3 d-flex justify-content-center">
                            <button kendoButton (click)="clearForm()" fillMode="outline" size="large" rounded="medium"
                                themeColor="warning">Limpiar</button>

                        </div>

                    </div>
                </div>
            </form>
        </div>


    </div>
</div>
}
@if (selectedItem === 'Indicadores') {
<div id="Indicadores">
    <ul>
        <li>Monday meeting</li>
        <li>Regarding org chart changes</li>
        <li>Meeting with Cliff</li>
        <li>Global Marketing Meeting</li>
        <li>Out tonight with collegues?</li>
    </ul>
</div>
}
@if (selectedItem === 'Seguimiento Actividades Vencidas') {
<div id="Seguimiento Actividades Vencidas">
    <div class="container-fluid">
        <h5>EJECUTE EL SCRIPT QUE DESE GENERAR</h5>
    </div>
    <div class="col-6 d-flex justify-content-end mt-4">
        <kendo-card>
            <kendo-card-header>
                <h5 kendoCardTitle style="text-align: center;">Generar Exceles</h5>
            </kendo-card-header>
            <kendo-card-body>
                <h6 style="margin-top: 0.3rem;">Cumplimiento Metas Avance Ejecución</h6>
                <div class="col-12">
                    <div class="row mb-2">
                        <div class="col-12 d-flex justify-content-center mb-2">
                            <kendo-badge-container>
                                <button kendoButton (click)="CumplimientoMetas()" fillMode="outline" size="large"
                                    rounded="medium" themeColor="success" [svgIcon]="fileExcelIcon"
                                    [disabled]="isGenerarCumplimiento">Generar</button>
                                <span class="ps-2"> </span>
                                @if (isGenerarCumplimiento) {
                                <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                                </kendo-loader>
                                }
                                <kendo-badge themeColor="error">1</kendo-badge>
                            </kendo-badge-container>

                        </div>
                    </div>
                    <hr kendoCardSeparator color="black" style="margin-top: 0.5rem;" />
                    <h6 style="margin-top: 1rem;">Actividades Vencidas</h6>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <kendo-badge-container>
                                <button kendoButton (click)="ActividadesVencidas()" fillMode="outline" size="large"
                                    rounded="medium" themeColor="success" [svgIcon]="fileExcelIcon"
                                    [disabled]="isGenerarVencidas">Generar</button>
                                <span class="ps-2"> </span>
                                @if (isGenerarVencidas) {
                                <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                                </kendo-loader>
                                }
                                <kendo-badge themeColor="error">2</kendo-badge>
                            </kendo-badge-container>

                        </div>
                    </div>
                </div>

            </kendo-card-body>
            <kendo-card-footer>
                <p kendoCardSubtitle>Tenga en cuenta que debe tener una secuencia de Ejecucion</p>
            </kendo-card-footer>
        </kendo-card>
    </div>
</div>
}
@if (selectedItem === 'Seguimiento Fuentes') {
<div id="Seguimiento Fuentes">
    <ul>
        <li>Build enterprise apps</li>
        <li>Fw: Regarding Multiline textbox</li>
        <li>Away next week</li>
        <li>Fw: Your Costume is ready</li>
        <li>Update completed</li>
    </ul>
</div>
}
@if (selectedItem === 'Seguimiento Integrado') {
<div id="Seguimiento Integrado">

</div>
}
@if (selectedItem === 'Graficos') {
<div id="Graficos">
    <div class="container-fluid">
        <h5>GENERAR GRAFICOS </h5>
        <kendo-progressbar [value]="progress_graficos"></kendo-progressbar>
        <div class="col-12 mt-2">
            <div class="row d-flex">
                <div class="col-5"></div>
                <div class="col-6">
                    <button kendoButton (click)="Graficos()" [disabled]="isGraficos" fillMode="outline" size="large"
                        rounded="medium" themeColor="info" [svgIcon]="chartDoughnutIcon">Generar Graficos</button>
                    <span class="ps-2">
                        @if(isGraficos) {
                        <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                        </kendo-loader>
                        }

                    </span>
                </div>
            </div>
            <div class="row mt-3">
                <iframe [src]="dashUrl" width="100%" height="600px" frameborder="0"></iframe>
            </div>
            <!-- <div class="row mt-3">
                <iframe src="http://172.31.33.223:5000/dash2/" width="100%" height="600px" frameborder="0"></iframe>
            </div> -->
        </div>
    </div>
</div>
}
@if (selectedItem === 'Puntos de Atencion') {
<div id="Puntos de Atencion">
    <div class="container-fluid">
        <h5>GENERAR PUNTOS DE ATENCION </h5>
        <kendo-progressbar [value]="progress_puntosAtencion"></kendo-progressbar>
        <div class="col-12 mt-2">
            <div class="row d-flex">
                <div class="col-4"></div>
                <div class="col-4">
                    <button kendoButton (click)="PuntosAtencion()" [disabled]="isPuntos" fillMode="outline" size="large"
                        rounded="medium" themeColor="info" [svgIcon]="wordIcon">Generar Puntos Atencion</button>
                    <span class="ps-2">
                        @if(isPuntos) {
                        <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                        </kendo-loader>
                        }

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
}
@if (selectedItem === 'Integracion') {
<div id="Integracion">

    <div class="container-fluid">
        <h5>INTEGRACION DE TODOS LOS PRODUCTOS DE LA CIRCULAR</h5>
        <div class="col-12">
            <div class="row mt-3 d-flex">
                <div class="col-3">
                    <kendo-label text="Numero de Circular">
                    </kendo-label>
                    <kendo-textbox placeholder="tres digitos" [(ngModel)]="nombre_archivo_circular"></kendo-textbox>
                </div>

            </div>
            <div class="row mt-3 mb-3 d-flex">
                <div class="col-3">
                    <button kendoButton (click)="Integracion()" fillMode="outline" size="large" rounded="medium"
                        themeColor="success" [svgIcon]="wordIcon" [disabled]="isIntegracion">Ejecutar
                        Integracion</button>
                    <span class="ps-2">
                        @if (isIntegracion) {
                        <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                        </kendo-loader>
                        }

                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h5>REPORTES SED y SAP EXCEL</h5>
        <div class="col-12 mt-3">
            <!-- SED PROGRMACION -->
            <kendo-expansionpanel title="Reportes SED PROGRAMACION" subtitle="Descargar Reporte" [expanded]="true">

                <div class="row mb-2">
                    <div class="col-3">
                        <kendo-combobox [data]="listItems" [allowCustom]="allowCustom" [(ngModel)]="selectedValues1">
                        </kendo-combobox>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <button kendoButton (click)="Programacion()" fillMode="solid" size="medium" rounded="medium"
                            themeColor="success" [svgIcon]="fileExcelIcon" [disabled]="isProgramacion ">Generar
                            Programacion</button>
                        <span class="ms-2">
                            @if (isProgramacion) {
                            <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                            </kendo-loader>
                            }

                        </span>
                    </div>
                </div>



                <div class="row mt-2 mb-3">
                    <kendo-grid [data]="filesSEDProgramacion" [kendoGridBinding]="filesSEDProgramacion"
                        [filterable]="true" [pageable]="true" [pageSize]="5" [sortable]="true"
                        [columnMenu]="menuSettings" size="small" [resizable]="true">
                        <kendo-grid-column field="name" title="Nombre de Archivo" [width]="230"></kendo-grid-column>
                        <kendo-grid-column field="size" title="Tamaño" [class]="{ 'text-center': true }"
                            [width]="130"></kendo-grid-column>
                        <kendo-grid-column field="modification_time" title="Creacion" [width]="160"></kendo-grid-column>
                        <kendo-grid-command-column title="Acciones" [width]="210">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <button kendoButton (click)="downloadFilesSEDPROGRAMACION(dataItem.name)"
                                    class="k-primary" [svgIcon]="downloadIcon">Descargar</button>
                                <!-- @if(dataItem.extension === '.pdf' ){
                                <button kendoButton (click)="openPdfModal(dataItem.base64, dataItem.name)">Ver
                                    PDF</button>
                                } -->
                            </ng-template>

                        </kendo-grid-command-column>
                    </kendo-grid>
                </div>
            </kendo-expansionpanel>
            <!-- SED SEGUIMIENTO -->
            <kendo-expansionpanel title="Reportes SED Seguimiento" subtitle="Descargar Reporte" [expanded]="true">
                <div class="row">
                    <div class="col-3">
                        <kendo-combobox [data]="listItems2" [allowCustom]="allowCustom" [(ngModel)]="selectedValues2">
                        </kendo-combobox>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <button kendoButton (click)="Seguimiento()" fillMode="solid" size="medium" rounded="medium"
                            themeColor="success" [svgIcon]="fileExcelIcon" [disabled]="isSeguimiento ">Generar
                            Seguimiento</button>
                        <span class="ms-2">
                            @if (isSeguimiento) {
                            <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                            </kendo-loader>
                            }
                        </span>
                    </div>
                </div>
                <div class="row mt-2 mb-3">
                    <kendo-grid [data]="filesSEDSeguimiento" [kendoGridBinding]="filesSEDSeguimiento"
                        [filterable]="true" [pageable]="true" [pageSize]="5" [sortable]="true"
                        [columnMenu]="menuSettings" size="small" [resizable]="true">
                        <kendo-grid-column field="name" title="Nombre de Archivo" [width]="230"></kendo-grid-column>
                        <kendo-grid-column field="size" title="Tamaño" [class]="{ 'text-center': true }"
                            [width]="130"></kendo-grid-column>
                        <kendo-grid-column field="creation_time" title="Creación" [width]="160">
                        </kendo-grid-column>
                        <kendo-grid-column field="modification_time" title="Modificación"
                            [width]="160"></kendo-grid-column>
                        <kendo-grid-command-column title="Acciones" [width]="210">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <button kendoButton (click)="downloadFilesSEDSEGUIMIENTO(dataItem.name)"
                                    class="k-primary" [svgIcon]="downloadIcon">Descargar</button>
                                <!-- @if(dataItem.extension === '.pdf' ){
                                <button kendoButton (click)="openPdfModal(dataItem.base64, dataItem.name)">Ver
                                    PDF</button>
                                } -->
                            </ng-template>

                        </kendo-grid-command-column>
                    </kendo-grid>
                </div>
            </kendo-expansionpanel>
            <!-- SAP -->

            <kendo-expansionpanel title="Reportes SAP " subtitle="Descargar Reporte" [expanded]="true">
                <div class="row">
                    <div class="col-3">
                        <kendo-combobox [data]="listItems3" [allowCustom]="allowCustom" [(ngModel)]="selectedValues3">
                        </kendo-combobox>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <button kendoButton (click)="SAP()" fillMode="solid" size="medium" rounded="medium"
                            themeColor="success" [svgIcon]="fileExcelIcon" [disabled]="isSAP ">Generar SAP </button>
                        <span class="ms-2">
                            @if (isSAP) {
                            <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                            </kendo-loader>
                            }

                        </span>
                    </div>
                </div>
                <div class="row mt-2 mb-3">
                    <kendo-grid [data]="filesSAP" [kendoGridBinding]="filesSAP" [filterable]="true" [pageable]="true"
                        [pageSize]="5" [sortable]="true" [columnMenu]="menuSettings" size="small" [resizable]="true">
                        <kendo-grid-column field="name" title="Nombre de Archivo" [width]="230"></kendo-grid-column>
                        <kendo-grid-column field="size" title="Tamaño" [class]="{ 'text-center': true }"
                            [width]="130"></kendo-grid-column>
                        <kendo-grid-column field="creation_time" title="Creación" [width]="160">
                        </kendo-grid-column>
                        <kendo-grid-column field="modification_time" title="Modificación"
                            [width]="160"></kendo-grid-column>
                        <kendo-grid-command-column title="Acciones" [width]="210">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <button kendoButton (click)="downloadFilesSAP(dataItem.name)" class="k-primary"
                                    [svgIcon]="downloadIcon">Descargar</button>
                                <!-- @if(dataItem.extension === '.pdf' ){
                                <button kendoButton (click)="openPdfModal(dataItem.base64, dataItem.name)">Ver
                                    PDF</button>
                                } -->
                            </ng-template>

                        </kendo-grid-command-column>
                    </kendo-grid>
                </div>
            </kendo-expansionpanel>


        </div>
    </div>

</div>
}
@if (selectedItem === 'Comparacion') {
<div id="Comparacion">
    <div class="container-fluid">
        <div class="app-container">
            <header class="app-header">
                <div class="container">
                    <h1>
                        <i class="icon">📊</i>
                        Comparador de Archivos
                    </h1>
                    <p class="subtitle">Compara archivos de diferentes períodos de tiempo</p>
                     <kendo-label class="k-display-block" [for]="textbox" text="Selecciona un identificador por el cual comparar"></kendo-label>
                        <kendo-textbox #textbox [style.width.px]="500" [clearButton]="true"  [(ngModel)]="customKeyColumn"></kendo-textbox>
                </div>
            </header>

            <main class="main-content">
                <div class="container">

                    <div class="upload-section">
                       
                        <app-comparacion-archivos (filesUploaded)="onFilesUploaded($event)"
                            (comparisonRequested)="onComparisonRequested($event)">
                            
                        </app-comparacion-archivos>

                    </div>
                    @if (comparisonResult) {
                    <div class="comparison-section">
                        <app-results (structureChanged)="onStructureChanged($event)"
                            (structureChangedAdd)="onStructureChangedAdd($event)" [result]="comparisonResult"
                            [isLoading]="isComparing">
                        </app-results>
                    </div>

                    <!-- 🔹 Caso: sustituciones normales -->
                    @if (comparisonResult?.type === 'csv_diff_with_substitutions' &&
                    comparisonResult?.field_substitutions) {

                    <app-results-sustituciones [fieldSubstitutions]="comparisonResult.field_substitutions">
                    </app-results-sustituciones>
                    }

                    <!-- 🔹 Caso: sustituciones por clave -->
                    @if (comparisonResult?.type === 'csv_diff_by_key' &&
                    comparisonResult?.row_changes) {

                    <app-results-sustituciones-key [rowChanges]="comparisonResult.row_changes">
                    </app-results-sustituciones-key>
                    }
                    }


                    @if (isComparing) {
                    <div class="loading-overlay">
                        <div class="loading-spinner">
                            <div class="spinner"></div>
                            <p>Comparando archivos...</p>
                        </div>
                    </div>
                    }

                </div>
            </main>

            <footer class="app-footer">
                <div class="container">
                    <p>Herramienta de comparación temporal de archivos - {{ currentYear }}</p>
                </div>
            </footer>
        </div>

    </div>
</div>
}