<app-nav-bar></app-nav-bar>
<div class="profile-demo card-container">
    <div class="k-card custom-card">
        <div class="card-row">
            <div class="card-column no-flex">
                <div class="sidebar-container k-skeleton">
                    <div class="avatar-name-container">
                        <div class="k-skeleton skeleton-avatar"></div>
                        <div class="name-container">
                            <div class="k-skeleton skeleton-text"></div>
                            <div class="k-skeleton skeleton-small-text-short"></div>
                        </div>
                    </div>
                    <div class="description-container">
                        <div class="k-skeleton skeleton-small-text"></div>
                        <div class="k-skeleton skeleton-small-text"></div>
                        <div class="k-skeleton skeleton-small-text"></div>
                    </div>
                </div>
            </div>
            <div class="card-column">
                <div class="avatar-title-container">
                    <div class="k-skeleton skeleton-avatar"></div>
                    <h4 class="k-h4">Hola mi nombre es Centro de Datos</h4>
                </div>
                <div class="component-container">
                    <kendo-label text="Que deseas saber?">
                        <kendo-textarea [(ngModel)]="pregunta" placeholder="hazme una pregunta" [rows]="1"
                            resizable="vertical"></kendo-textarea>
                    </kendo-label>
                    <div>
                        <div class="col-12">
                            <div class="row mt-2">
                                <div class="col-6 justify-content-center">
                                    <button kendoButton (click)="consultar()" fillMode="outline" size="large"
                                        rounded="medium" themeColor="info" [svgIcon]="fileExcelIcon">Consultar</button>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6 justify-content-center">
                                    <button kendoButton (click)="exportarDatos()" fillMode="outline" size="large"
                                        rounded="medium" themeColor="success" [svgIcon]="fileExcelIcon">Exportar
                                        Excel</button>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6 justify-content-center">
                                    <button kendoButton (click)="exportarConPregunta()" fillMode="outline" size="large"
                                        rounded="medium" themeColor="success" [svgIcon]="fileExcelIcon">Exportar Datos
                                        Excel</button>
                                </div>
                            </div>
                        </div>
                        <div class="skeleton-container top">
                            <p>Respuesta: {{ respuesta }}</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- src/app/consulta/consulta.component.html -->
<div class="profile-demo card-container">
    <div class="k-card custom-card">
        <div class="card-row">
                <div class="card-column no-flex">
                    <div class="sidebar-container k-skeleton">
                        <div class="avatar-name-container">
                            <div class="k-skeleton skeleton-avatar"></div>
                            <div class="name-container">
                                <div class="k-skeleton skeleton-text"></div>
                                <div class="k-skeleton skeleton-small-text-short"></div>
                            </div>
                        </div>
                        <div class="description-container">
                            <div class="k-skeleton skeleton-small-text"></div>
                            <div class="k-skeleton skeleton-small-text"></div>
                            <div class="k-skeleton skeleton-small-text"></div>
                        </div>
                    </div>
                </div>
                <div class="card-column">
                    <div class="avatar-title-container">
                        <div class="k-skeleton skeleton-avatar"></div>
                        <h4 class="k-h5">Hola mi nombre es Ana litica</h4>
                    </div>
                    <div class="component-container">
                        <div class="col-12">
                            <div class="row mt-2">
                        <kendo-label text="Que deseas saber?">
                            <kendo-textarea [(ngModel)]="pregunta2" placeholder="hazme una pregunta" [rows]="1"
                                resizable="vertical"></kendo-textarea>
                        </kendo-label>
                    </div>
                            <div class="row mt-2">
                                <div class="col-6 justify-content-center">
                                    <button kendoButton (click)="enviarPregunta()" fillMode="outline" size="large"
                                        rounded="medium" themeColor="info" [svgIcon]="fileExcelIcon">Consultar SQL</button>
                                </div>
                            </div>
                        </div>
                @if (consultaSQL) {
                <div>
                    <h2>Consulta SQL generada:</h2>
                    <pre>{{ consultaSQL }}</pre>
                </div>
                }
                @if (resultados.length > 1) {
                <div>
                    <h2>Resultados:{{Conteo}}</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Nombre</th>
                                <th>Otro</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (resultado of resultados; track $index) {
                            <tr>
                                <td>{{ resultado[0] }}</td>
                                <td>{{ resultado[1] }}</td>
                                <td>{{ resultado[2] }}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                }
                @else{
                <h2>Resultado:{{Conteo}} </h2>
                }
                    </div>
                </div>
            </div>
        </div>
    </div>