.results-key-container {
  margin-top: 1rem;
  font-size: 0.9rem;
}

h4.added {
  color: #2fe93b;
}

h4.removed {
  color: #eb4f4f;
}

h4.modified {
  color: #4f8fee;
}

.modified-block {
  margin-bottom: 1.5rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.scroll-table {
  max-height: 300px; /* ajusta la altura */
  overflow-y: auto;
  overflow-x: auto; /* por si hay muchas columnas */
  border: 1px solid #ddd;
  padding: 4px;
}

.scroll-table table {
  width: max-content; /* permite scroll horizontal si hay muchas columnas */
}