.titulo {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 1.1em;
        color: #1e1096;
        font-weight: bold;
      }

      .description {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 0.4em;
        color: #656565;
      }