@if (visible) {
<div class="disc-wrap">
  <div class="disc-card">

    <!-- <div class="disc-icon">
      <svg viewBox="0 0 24 24" fill="none" stroke="#5F5E5A" stroke-width="1.6"
           stroke-linecap="round" stroke-linejoin="round" width="24" height="24">
        <circle cx="12" cy="12" r="10"/>
        <path d="M8 9.5c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2"/>
        <circle cx="15.5" cy="8.5" r="1"/>
        <circle cx="9" cy="15" r="1"/>
        <circle cx="14" cy="14.5" r="1.5"/>
      </svg>
    </div> -->

    <p class="disc-title">Importante:</p>
    <p class="disc-body">Esta herramienta se proporciona con fines estrictamente didácticos y de difusión del Modelo de Priorización de la
        Inversión. Por lo tanto, sus resultados son meramente ilustrativos y no generan ninguna obligación respecto a la
        revisión, validación y uso de la información capturada para la asignación de recursos del Presupuesto General de
        Egresos del Estado de Guanajuato.
    </p>


    <div class="disc-actions">
      <button class="btn-accept" (click)="accept()">Aceptar y continuar</button>
    </div>

    <!-- <p class="disc-footer">
      Al aceptar, confirmas que leíste nuestra
      <a routerLink="/cookies">política de cookies</a> y
      <a routerLink="/privacidad">privacidad</a>.
    </p> -->
  </div>
</div>

}