.example-wrapper {
        width: 100%;
        margin: 0 auto;
        box-shadow: 0px 10px 20px #00000029;
        border-radius: 30px;
      }
      .page {
        padding: 20px 10px;
      }
      .content {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
          background-color: #f8f1f1;
           border-radius: 20px;
           box-sizing: border-box;

      }
      .button1{
        flex :1 0 240px;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
      }
        .button2{
        flex :1 0 220px;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
      }
            .button3{
        flex :1 0 200px;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
      }
      .reportes {
        padding: 14px;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
         align-items: center;     /* Centra verticalmente */
        border-radius: 20px;
        background-color: #f8f1f1;
         width: 100%;
         height: 100%;
        box-sizing: border-box;
      }
    

      .excel {
        padding: 14px;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
         align-items: center;     /* Centra verticalmente */
        border-radius: 20px;
        background-color: #f8f1f1;
         width: 100%;
         height: 100%;
        box-sizing: border-box;
        
      }

      .full-width-grid {
         justify-content: center; /* Centra horizontalmente */
         align-items: center;     /* Centra verticalmente */
        width: 100%;
           /* Ya usa grid, pero explícito por claridad */

        }
.titulo {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 1em;
       color: #1f1f20;
        font-weight: bold;
      }        

      .alert-icon {
    margin-top: 50px;
  width: 100px;     /* ancho */
  height: 100px;    /* alto */
  color: #dc2626;  /* rojo (equivalente a text-red-600 de Tailwind) */
  display: inline-block;
  vertical-align: middle; /* opcional para centrar con texto */
}

/* Título con efecto máquina de escribir */
.title2 {
   display: inline-block;
  font-size: 1.75rem;
  font-weight: bold;
  overflow: hidden;
  border-right: .15em solid #fff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 6.0s steps(40, end),
    blink-caret .75s step-end infinite;
}

.title2 span {
  color: #a81b1b;
}
/* Animación máquina de escribir */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(223, 223, 212); }
}
.row {
  text-align: center; /* centra horizontalmente el inline-block */
}

::ng-deep .k-window-titlebar {
  background-color: #4a90e2 !important; /* Tu color personalizado */
  color: white !important;
}
.my-custom-window .k-window-titlebar {
  background-color: #4a90e2; /* color personalizado */
  color: #fff;
}
.my-custom-window .k-window-content {
  background-color: #fff8f5;
}


.k-button.k-custom {
  background-color: #4a90e2;
  border-color: #4a90e2;
  color: #fff;

  &:hover {
    background-color: #2e5683;
  }
}

.k-button.k-descarga {
  background-color: #D32F2F;;
  border-color: #D32F2F;
  color: #fff;

  &:hover {
    background-color: #a72626;
  }
}

.k-button.k-descarga-word {
  background-color: #2B579A;;
  border-color: #2B579A;
  color: #fff;

  &:hover {
    background-color: #254a81;
  }
}


.k-split-button.k-custom .k-button {
  background-color: #4a90e2;
  border-color: #4a90e2;
  color: #fff;
}

.k-split-button.k-custom .k-button:hover {
  background-color: #4a90e2;
}
/* SWITCH ENCENDIDO */
.switch-on .k-switch-track {
  background-color: #28a745 !important; /* Verde */
  border-color: #ffffff !important;
}

/* SWITCH APAGADO */
.switch-off .k-switch-track {
  background-color: #fa0101 !important; /* Gris claro */
  border-color: #ffffff !important;
}

/* Color del círculo (thumb) */
.switch-on .k-switch-thumb {
  background-color: white !important;
}

.switch-off .k-switch-thumb {
  background-color: rgb(255, 255, 255) !important;
}