<app-nav-bar></app-nav-bar>
<div class="container-fluid mt-4">
    <div class="example-wrapper">
        <div class="page">
            <div class="content">
                <kendo-gridlayout [rows]="[40, 40]" [cols]="['1fr','1fr','1fr']" [gap]="5" class="full-width-grid">
                    <kendo-gridlayout-item [col]="1" [row]="1" [colSpan]="1" class="reportes">
                        <kendo-splitbutton (buttonClick)="GenerarPorFechaActual()" size="medium" [data]="data"
                            [svgIcon]="clipboardSVG" rounded="medium" themeColor="secondary" [disabled]="isDisabled">
                            Generar Reporte COSAINCEG
                        </kendo-splitbutton>
                        <span class="ps-2">
                            @if (isDisabled) {
                            <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                            </kendo-loader>
                            }
                        </span>
                    </kendo-gridlayout-item>
                    <kendo-gridlayout-item [col]="2" [row]="1" [colSpan]="1" class="reportes">
                        <kendo-splitbutton (buttonClick)="GenerarRepo2PorFechaActual()" size="medium" [data]="data"
                            [svgIcon]="clipboardSVG" rounded="medium" themeColor="secondary" [disabled]="isDisabled">
                            Generar Reporte COSAINCEG 2
                        </kendo-splitbutton>
  
                        <span class="ps-2">
                            @if (isDisabled) {
                            <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                            </kendo-loader>
                            }
                        </span>
                    </kendo-gridlayout-item>
                    <kendo-gridlayout-item [col]="3" [row]="1" [colSpan]="1" [rowSpan]="1" class="reportes">
                            <kendo-splitbutton (buttonClick)="GenerarPorFechaActual()" size="medium" [data]="data"
                            [svgIcon]="clipboardSVG" rounded="medium" themeColor="secondary" [disabled]="isDisabled">
                            Generar Reporte COSAINCEG
                        </kendo-splitbutton>
                    </kendo-gridlayout-item>

                    <kendo-gridlayout-item [col]="1" [row]="2" [colSpan]="1" [rowSpan]="1" class="excel" >                
                            <kendo-splitbutton kendoButton (buttonClick)="DescargarExcel()" [data]="data2" [svgIcon]="fileExcelIcon"
                                title="Datos Abiertos"  themeColor="success">Datos Abiertos</kendo-splitbutton>
                    </kendo-gridlayout-item>

                </kendo-gridlayout>
            </div>
        </div>
    </div>
    <div class="mt-3 mb-2"></div>
    <kendo-expansionpanel title="Oficios" subtitle="Ver y descargar oficios" [expanded]="true">
        <div class="row mt-2 mb-3">
            <kendo-grid [data]="FilesCosainceg" [kendoGridBinding]="FilesCosainceg" [filterable]="true"
                [pageable]="true" [pageSize]="5" [sortable]="true" [columnMenu]="menuSettings" size="small"
                [resizable]="true">
                <kendo-grid-column field="name" title="Nombre de Archivo" [width]="230"></kendo-grid-column>
                <kendo-grid-column field="size" title="Tamaño" [class]="{ 'text-center': true }"
                    [width]="130"></kendo-grid-column>
                <kendo-grid-column field="creation_time" title="Creación" [width]="160">
                </kendo-grid-column>
                <kendo-grid-column field="modification_time" title="Modificación" [width]="160"></kendo-grid-column>
                <kendo-grid-command-column title="Acciones" [width]="210">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <button kendoButton (click)="downloadFile(dataItem.name)" class="k-primary">Descargar</button>
                        @if(dataItem.extension === '.pdf' ){
                        <button kendoButton (click)="openPdfModal(dataItem.base64, dataItem.name)">Ver
                            PDF</button>
                        }
                    </ng-template>

                </kendo-grid-command-column>
            </kendo-grid>
        </div>
    </kendo-expansionpanel>
    <p></p>
    @if(selectedPdf){
    <kendo-window [title]="'REPORTE: ' + nombre_archivo" (close)="closePdfModal()" [minWidth]="350" [width]="750"
        [height]="500">
        <kendo-pdfviewer [data]="selectedPdf" style="height: 900px;"></kendo-pdfviewer>
    </kendo-window>
    }
                       
</div>