@if (selectedItem === 'Cosainceg' && canViewCosainceg) {
<div class="container-fluid mt-4">
    <div class="row">

        <h1 class="title2">Reporte<span> COSAINCEG</span></h1>

    </div>
    <div class="page">
        <div class="content">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <p class="titulo mt-3 mb-2 ms-3">1. Actualizar Catalogos </p>
                        <kendo-splitbutton kendoButton (buttonClick)="DescargarExcel()" [data]="ActualizacionRubro"
                            [svgIcon]="fileExcelIcon" title="Actualizacion de Rubros" [disabled]="isDisabled"
                            themeColor="secondary" class="button1">Actualizacion Rubros</kendo-splitbutton>
                        <span class="ps-2">
                            @if (isDisabledActualizacionRubros) {
                            <kendo-loader type="infinite-spinner" themeColor="success" size="medium">
                            </kendo-loader>
                            }
                        </span>
                    </div>
                    <div class="col-md-3">
                        <p class="titulo mt-3 mb-2 ms-3">2. Descargar Catalogos </p>
                        <button kendoButton class="button2" (click)="DescargaCatalogoRubros()" themeColor="secondary"
                            [svgIcon]="downloadIcon">Catalogo Rubros</button>
                        <span class="ps-2">
                            @if (isDisabledCatalogoR) {
                            <kendo-loader type="infinite-spinner" themeColor="success" size="medium">
                            </kendo-loader>
                            }
                        </span>
                    </div>
                    <div class="col-md-3 mb-3 ms-3">
                        <my-uploads></my-uploads>
                    </div>
                </div>

            </div>
        </div>

        <div class="page">
            <div class="content">
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <kendo-splitbutton (buttonClick)="DescargarExcel()" size="medium" [data]="data"
                                [svgIcon]="fileReportIcon" class="button1" rounded="medium" themeColor="secondary"
                                [disabled]="isDisabled">
                                Generar Reporte COSAINCEG
                            </kendo-splitbutton>
                            <span class="ps-2">
                                @if (isDisabledG) {
                                <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                                </kendo-loader>
                                }
                            </span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <kendo-splitbutton (buttonClick)="DescargarExcel()" size="medium" [data]="dataExcelRecurso"
                                [svgIcon]="fileZipIcon" rounded="medium" class="button1" themeColor="secondary"
                                [disabled]="isDisabled">
                                Generar Reporte COSAINCEG Recurso
                            </kendo-splitbutton>

                            <span class="ps-2">
                                @if (isDisabledExcelRecurso) {
                                <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                                </kendo-loader>
                                }
                            </span>
                        </div>
                        <div class="col-md-4 mb-3">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <kendo-splitbutton kendoButton (buttonClick)="DescargarExcel()" [data]="dataExcelG"
                                [svgIcon]="fileExcelIcon" title="Informacion Global de P's,G's,Q's"
                                [disabled]="isDisabled" themeColor="success" class="button1">Global
                                (PGQ)</kendo-splitbutton>
                            <span class="ps-2">
                                @if (isDisabledExcelG) {
                                <kendo-loader type="infinite-spinner" themeColor="success" size="medium">
                                </kendo-loader>
                                }
                            </span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <kendo-splitbutton kendoButton (buttonClick)="DescargarExcel()" [data]="dataExcelDep"
                                [svgIcon]="fileExcelIcon" title="Agrupacion por Dependencias" [disabled]="isDisabled"
                                themeColor="success" class="button1">Dependencias (PGQ)</kendo-splitbutton>
                            <span class="ps-2">
                                @if (isDisabledExcelD) {
                                <kendo-loader type="infinite-spinner" themeColor="success" size="medium">
                                </kendo-loader>
                                }
                            </span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <kendo-splitbutton kendoButton (buttonClick)="DescargarExcel()" [data]="dataExcelRub"
                                [svgIcon]="fileExcelIcon" title="Agrupacion por Rubro" [disabled]="isDisabled"
                                themeColor="success" class="button1">Rubros (PGQ)</kendo-splitbutton>
                            <span class="ps-2">
                                @if (isDisabledExcelR) {
                                <kendo-loader type="infinite-spinner" themeColor="success" size="medium">
                                </kendo-loader>
                                }
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="mt-4 mb-2"></div>
        <kendo-expansionpanel title="Reportes" subtitle="Ver y descargar reportes" [expanded]="true">
            <div class="row mt-2 mb-3">
                <kendo-grid [data]="FilesCosainceg" [kendoGridBinding]="FilesCosainceg" [filterable]="true"
                    [pageable]="true" [pageSize]="5" [sortable]="true" [columnMenu]="menuSettings" size="small"
                    [resizable]="true">
                    <kendo-grid-column field="name" title="Nombre de Archivo" [width]="230"></kendo-grid-column>
                    <kendo-grid-column field="size" title="Tamaño" [class]="{ 'text-center': true }"
                        [width]="130"></kendo-grid-column>
                    <kendo-grid-column field="creation_time" title="Creación" [width]="160">
                    </kendo-grid-column>
                    <kendo-grid-column field="modification_time" title="Modificación" [width]="160"></kendo-grid-column>
                    <kendo-grid-command-column title="Acciones" [width]="210">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <button kendoButton (click)="downloadFile(dataItem.name)"
                                class="k-primary">Descargar</button>
                            @if(dataItem.extension === '.pdf' ){
                            <button kendoButton (click)="openPdfModal(dataItem.base64, dataItem.name)">Ver
                                PDF</button>
                            }
                        </ng-template>

                    </kendo-grid-command-column>
                </kendo-grid>
            </div>
        </kendo-expansionpanel>
        <p></p>
        @if(selectedPdf){
        <kendo-window [title]="'REPORTE: ' + nombre_archivo" (close)="closePdfModal()" [minWidth]="350" [width]="750"
            [height]="500">
            <kendo-pdfviewer [data]="selectedPdf" style="height: 900px;"></kendo-pdfviewer>
        </kendo-window>
        }

    </div>
</div>
}
@if (selectedItem === 'Deuda' && canViewDeuda) {
<div class="container-fluid mt-4">
    <div class="row">
        <h1 class="title2">Reporte<span> DEUDA</span>📉</h1>

    </div>
    <div class="page">
        <div class="content">
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <kendo-splitbutton (buttonClick)="DescargarExcel()" size="medium" [data]="dataDeuda"
                            [svgIcon]="fileReportIcon" class="button1" rounded="medium" themeColor="secondary"
                            [disabled]="isDisabled_deuda">
                            Generar Reporte Deuda
                        </kendo-splitbutton>
                        <span class="ps-2">
                            @if (isDisabledG_deuda) {
                            <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                            </kendo-loader>
                            }
                        </span>
                    </div>
                    <div class="col-md-3 mb-3">


                        <kendo-splitbutton (buttonClick)="DescargarExcel()" size="medium" [data]="dataExcelRecursoDeuda"
                            [svgIcon]="fileZipIcon" rounded="medium" class="button1" themeColor="secondary"
                            [disabled]="isDisabled_deuda">
                            Generar Reporte Deuda Recurso
                        </kendo-splitbutton>

                        <span class="ps-2">
                            @if (isDisabledExcelRecursoDeuda) {
                            <kendo-loader type="infinite-spinner" themeColor="info" size="medium">
                            </kendo-loader>
                            }
                        </span>

                    </div>
                    <div class="col-md-3 mb-3">
                        <kendo-splitbutton kendoButton (buttonClick)="DescargarExcel()" [data]="dataExcelDeudaG"
                            [svgIcon]="fileExcelIcon" title="Informacion Global por Q's" [disabled]="isDisabled_deuda"
                            themeColor="success" class="button1">Global
                            (Q)</kendo-splitbutton>
                        <span class="ps-2">
                            @if (isDisabledExcelG_deuda) {
                            <kendo-loader type="infinite-spinner" themeColor="success" size="medium">
                            </kendo-loader>
                            }
                        </span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <kendo-splitbutton kendoButton (buttonClick)="DescargarExcel()" [data]="dataExcelDepDeuda"
                            [svgIcon]="fileExcelIcon" title="Agrupacion por Dependencias" [disabled]="isDisabled_deuda"
                            themeColor="success" class="button1">Dependencias (Q)</kendo-splitbutton>
                        <span class="ps-2">
                            @if (isDisabledExcelG_deuda_dep) {
                            <kendo-loader type="infinite-spinner" themeColor="success" size="medium">
                            </kendo-loader>
                            }
                        </span>
                    </div>

                </div>

                <kendo-expansionpanel title="📝 Reportes Deuda" subtitle="Ver y descargar reportes" [expanded]="true">
                    @if (!opened) {
                    <button kendoButton (click)="open()" class="k-custom">🎯 Consultar Metas</button>
                    } @if (opened) {
                    <kendo-window class="my-custom-window" (close)="close()" title=" 🥇🥈🥉 Top 3 Proyectos"
                        [(width)]="windowWidth">

                        <p style="margin-top: 0.5rem; text-align: center; font-size: 1.2rem;"> 🗹 Elige el Trimestre que
                            deseas consultar:</p>
                      
                            <div class="row mb-2 mt-1">
                                   <div class="col-auto">
                                    <kendo-splitbutton kendoButton (buttonClick)="DescargarExcel()"
                                        [data]="dataExcelDeudaMetas" [svgIcon]="fileExcelIcon"
                                        title="Eleccion del trimestre" [disabled]="isMetas"
                                        class="button1">Trimestre</kendo-splitbutton>
                                    <span class="ps-2">
                                        @if (isMetasD) {
                                        <kendo-loader type="infinite-spinner" themeColor="success" size="medium">
                                        </kendo-loader>
                                        }
                                    </span>

                                </div>
                                 <div class="col-auto">
                                    <div kendoTooltip style="text-align: center;">
                                        <kendo-switch title="Activa para ver el detalle por metas" name="switch"
                                            [ngClass]="{ 'switch-on': checked, 'switch-off': !checked }"
                                            class="custom-switch" [(ngModel)]="checked"></kendo-switch>
                                    </div>
                                </div>
                            </div>

       


                        @if (!checked){
                        <kendo-grid [data]="Top" [kendoGridBinding]="Top" [filterable]="true" [pageable]="true"
                            [pageSize]="5" [sortable]="true" [columnMenu]="menuSettings" size="small"
                            [resizable]="true">

                            <kendo-grid-column field="nombre" title="Nombre del Proyecto"
                                [width]="290"></kendo-grid-column>
                            <kendo-grid-column field="ejercicio" title="Ejercicio" [class]="{ 'text-center': true }"
                                [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="modificado_formateado" title="Monto" [width]="160">
                            </kendo-grid-column>
                            <kendo-grid-column field="ranking" title="Posicion" [width]="100"></kendo-grid-column>
                            <kendo-grid-excel fileName="metas.xlsx"></kendo-grid-excel>
                        </kendo-grid>
                        }
                        @else{
                        <kendo-grid [data]="Metas" [kendoGridBinding]="Metas" [filterable]="true" [pageable]="true"
                            [pageSize]="5" [sortable]="true" [columnMenu]="menuSettings" size="small"
                            [resizable]="true">
                            <kendo-grid-column field="clave_recodificada" title="Clave"
                                [width]="50"></kendo-grid-column>
                            <kendo-grid-column field="nombre" title="Nombre del Proyecto"
                                [width]="300"></kendo-grid-column>
                            <kendo-grid-column field="meta_estandarizada" title="Meta" [class]="{ 'text-center': true }"
                                [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="descripmeta" title="Descripcion Meta" [width]="260">
                            </kendo-grid-column>
                            <kendo-grid-column field="Modificado" title="modificado" [width]="80"></kendo-grid-column>
                            <kendo-grid-column field="ejercicio" title="Ejercicio" [width]="80"></kendo-grid-column>
                            <kendo-grid-excel fileName="metas.xlsx"></kendo-grid-excel>
                        </kendo-grid>
                        }
                    </kendo-window>
                    }
                    <div class="row mt-2 mb-3">
                        <kendo-grid [data]="FilesDeuda" [kendoGridBinding]="FilesDeuda" [filterable]="true"
                            [pageable]="true" [pageSize]="5" [sortable]="true" [columnMenu]="menuSettings" size="small"
                            [resizable]="true">

                            <kendo-grid-column field="name" title="Nombre de Archivo" [width]="230"></kendo-grid-column>
                            <kendo-grid-column field="size" title="Tamaño" [class]="{ 'text-center': true }"
                                [width]="130"></kendo-grid-column>
                            <kendo-grid-column field="creation_time" title="Creación" [width]="160">
                            </kendo-grid-column>
                            <kendo-grid-column field="modification_time" title="Modificación"
                                [width]="160"></kendo-grid-column>
                            <kendo-grid-command-column title="Acciones" [width]="210">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    @if(dataItem.extension === '.pdf' ){
                                    <button kendoButton [svgIcon]="filePdfIcon"
                                        (click)="downloadFile_Deuda(dataItem.name)" class="k-descarga">↓
                                        Descargar</button>

                                    }
                                    @else {
                                    <button kendoButton [svgIcon]="fileWordIcon"
                                        (click)="downloadFile_Deuda(dataItem.name)" class="k-descarga-word">↓
                                        Descargar</button>

                                    }
                                    @if(dataItem.extension === '.pdf' ){
                                    <button kendoButton class="k-descarga"
                                        (click)="openPdfModal_2(dataItem.base64, dataItem.name)">🔎 Ver
                                        PDF</button>
                                    }
                                </ng-template>

                            </kendo-grid-command-column>

                        </kendo-grid>
                    </div>
                </kendo-expansionpanel>
                @if(selectedPdf_2){
                <kendo-window [title]="'📊 REPORTE: ' + nombre_archivo_2" (close)="closePdfModal_2()" [minWidth]="350"
                    [width]="750" [height]="500">
                    <kendo-pdfviewer [data]="selectedPdf_2" style="height: 900px;"></kendo-pdfviewer>
                </kendo-window>
                }
            </div>
        </div>
    </div>
</div>
}

@if ((!canViewCosainceg && selectedItem === 'Cosainceg') ||
(!canViewDeuda && selectedItem === 'Deuda')) {
<div>
    <div class="max-w-md w-full space-y-8">
        <div class="text-center">
            <div class="mx-auto h-3 w-3 flex items-center justify-center rounded-full">
                <svg class="alert-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <!-- Línea vertical del signo de exclamación -->
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 9v2" />
                    <!-- Puntito del signo de exclamación -->
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 15h.01" />
                    <!-- Triángulo de alerta -->
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                        d="M5.062 20h13.876c1.54 0 2.502-1.667 1.732-2.5L13.732 4c-.77-.833-1.964-.833-2.732 0L3.33 17.5c-.77.833.192 2.5 1.732 2.5z" />
                </svg>



            </div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Acceso Denegado
            </h2>
            <p class="mt-2">
                No tienes permisos para acceder a esta sección
            </p>
            <div class="mt-6">
                <button kendoButton themeColor="info" (click)="goBack()">
                    Volver a la Pagina Principal
                </button>
            </div>
        </div>
    </div>
</div>

}