<!--Load the font icons package:-->
<link rel="stylesheet" href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css" />
<kendo-appbar position="bottom" [themeColor]="themeColor">
    <kendo-appbar-section>
        <kendo-icon name="home" size="large" themeColor="info"></kendo-icon>
    </kendo-appbar-section>

    <kendo-appbar-section>
        <ul class="appbar-menu">
            <li><span>
                    <h1 class="title"><a routerLink="/principal" routerLinkActive="router-link-active"
                            ariaCurrentWhenActive="page">Sistema de Informacion DGIP</a></h1>
                </span></li>
        </ul>


    </kendo-appbar-section>

    <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

    <kendo-appbar-section>
        <ul class="appbar-menu">
            <li><a routerLink="/circular" routerLinkActive="router-link-active"
                    ariaCurrentWhenActive="page">Circular</a></li>
            <!-- <li><a routerLink="/claude" routerLinkActive="router-link-active" ariaCurrentWhenActive="page"><span>Centro
                        de Datos</span></a></li> -->
            <li><a routerLink="/correos" routerLinkActive="router-link-active"
                    ariaCurrentWhenActive="page"><span>Correos</span></a></li>
            <li><a routerLink="/adecuaciones" routerLinkActive="router-link-active"
                    ariaCurrentWhenActive="page"><span>Adecuaciones</span></a></li>
            <li><a routerLink="/reportes" routerLinkActive="router-link-active"
                    ariaCurrentWhenActive="page"><span>Cuenta Publica</span></a></li>
            <!-- <li><span>Tableros</span></li>
            <li><span>Catalogos</span></li> -->

        </ul>
    </kendo-appbar-section>

    <kendo-appbar-spacer></kendo-appbar-spacer>
    <kendo-appbar-section>
        <img src="/navigation/appbar/SF.jpg" class="appbar-logo">
    </kendo-appbar-section>
    <kendo-appbar-section class="actions">

        <kendo-icon name="file-config" size="large"></kendo-icon>

        <a *ngIf="canAccessModule('users')" routerLink="/admin" routerLinkActive="router-link-active"
            ariaCurrentWhenActive="page"><span>Administracion</span></a>


        <span class="k-appbar-separator"></span>
    </kendo-appbar-section>

    <kendo-appbar-section>
        <div class="relative inline-block text-left">
            <div *ngIf="currentUser">
                <!-- <div *ngIf="currentUser.avatar"> -->
                    <app-navbar-avatar [showSessionDetails]="showSessionDetailsModal" [logout]="logout"
                        [showUserMenu]="showUserMenu" [showSessionModal]="showSessionModal" [animating]="animating">
                        <button kendoButton #infoButton class="button-perfil"
                            (click)="showSessionModal = !showSessionModal" [svgIcon]="infoSolidIcon" width="36px"
                            height="36px">
                            <span class="text-perfil">
                                Info
                            </span>
                        </button>
                    </app-navbar-avatar>

                    <kendo-popup [anchor]="infoButton" [popupAlign]="{ horizontal: 'left', vertical: 'bottom' }"
                        [anchorAlign]="{ horizontal: 'right', vertical: 'top' }" [animate]="true"
                        *ngIf="showSessionModal" (close)="showSessionModal  = false">
                        <div *ngIf="sessionInfo">
                            <div class="menu-container">
                                <div class="session-info-card">
                                    <div class="session-row">
                                        <span class="label">&#x23F0;Tiempo restante</span>
                                        <span class="value">{{ formatTimeLeft(sessionInfo.timeLeft) }}</span>
                                    </div>
                                    <div class="session-row">
                                        <span class="label">⏳ Tipo de sesión</span>
                                        <span class="value">
                                            {{ sessionInfo.rememberMe ? 'Recordarme (30 días)' : 'Normal (8 horas)' }}
                                        </span>
                                    </div>
                                    <div class="session-row">
                                        <span class="label">🚦Estado:</span>
                                        <div [class]="getSessionStatusClass()">

                                            <span class="value-white">{{ getSessionStatusText() }}</span>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </kendo-popup>

                <!-- </div> -->
            </div>
        </div>&nbsp;


    </kendo-appbar-section>

</kendo-appbar>
<div class="session-warning-content" *ngIf="showSessionWarning">
    <div class="row">
        <div class="session-text">
            <p>
                <strong>⚠️ ¡Atención!</strong> Tu sesión expirará en {{ formatTimeLeft(sessionInfo?.timeLeft ||
                0)
                }}.
                <button (click)="extendSession(); showSessionWarning = false">
                  ⏳  Extender sesión
                </button>
                 <button (click)="showSessionWarning = false">
                ❌
            </button>
            </p>
           
        </div>

    </div>
</div>

<router-outlet></router-outlet>
<!-- <div 
      *ngIf="showUserMenu || showSessionModal" 
      (click)="closeModals()"
      class="fixed inset-0 z-40"></div> -->
<!-- <kendo-breadcrumb [items]="items"></kendo-breadcrumb> -->