.k-chip {
    margin-right: 10px;
  }
  .contacts {
    border-width: 0 0 1px 0;
    width: 100%;
    margin: 30px 0;
  }
  .btn-close.btn-close-sm {
    width: 12px !important; /* Tamaño del botón */
    height: 12px !important; /* Tamaño del botón */
  }
  
  .btn-close.btn-close-sm::before {
    font-size:  12px !important; /* Tamaño de la "x" */
    color: white !important; /* Color blanco para la "x" */
  }
  $btn-close-color: #bb3232; // Definir el color blanco en una variable


  .btn-close.btn-close-sm {
    --bs-btn-close-color: $btn-close-color;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='2 2 14 14' fill='%23ff0000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 0.8; /* Aumenta la opacidad para mejor visibilidad */
    --bs-btn-close-hover-opacity: 1; /* Asegúrate de que se vea al pasar el mouse */
    background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
  }

  .linea-punteada {
    border: none; /* Elimina el estilo predeterminado */
    border-top:0.15rem dotted red; /* Línea punteada roja */
    width: 95%; /* Ajusta el ancho */
    margin: 20px auto; /* Centra la línea horizontal */
}
  
  
  
  