<app-nav-bar></app-nav-bar>
<div class="profile-demo card-container">
    <div class="container">
        <div class="col-9 justify-content-center">
            @if (checked) {
                <div class="row mt-2 mb-2">
            <kendo-label class="k-display-block" [for]="switch" text="Un Asunto para todos los destinatarios"></kendo-label>
                    </div>
            }
            @else{
                <div class="row mt-2 mb-2">
                <kendo-label class="k-display-block" [for]="switch" text="Un Asunto para cada uno de los destinarios(Independientes) "></kendo-label>
            </div>
            }
                <kendo-switch #switch [(ngModel)]="checked" style="width: 70px;"></kendo-switch>
            <div class="row mt-2">
                
                @if (checked) {
                <kendo-label><span style="font-weight: bold;">Asunto: </span>
                    <kendo-textbox placeholder="Cual es el asunto del correo?" [(ngModel)]="subject"></kendo-textbox>
                </kendo-label>
                }
            </div>
            <div class="row mt-2">
                @for (contact of selectedContacts; track $index; let idx = $index) {
                    @if (!checked) {
                        <kendo-label><span style="font-weight: bold;">Asunto: </span>
                            <kendo-textbox placeholder="Cual es el asunto del correo?1" (input)="updateSubject(idx, $event)"></kendo-textbox>
                        </kendo-label>
                        }
                <kendo-label><span style="font-weight: bold;">Para:</span>&nbsp;<span
                        style="font-family:'Segoe UI'; font-size:18px; font-style:oblique; color:cornflowerblue;">{{
                        contact }}</span><br>
                    <kendo-label><span style="font-weight: bold;">Mensaje:</span>
                        <kendo-textarea style="margin-top: 0.3rem;" placeholder="Escribe un mensaje" [rows]="3"
                            resizable="vertical" (input)="updateMessage(idx, $event)"></kendo-textarea>
                    </kendo-label>
                </kendo-label>
                <!-- <kendo-label text="Necesitas Adjuntar un Archivo?:">
                                    <input type="file" multiple (change)="onFileSelected(idx,$event)"
                                        placeholder="Seleciona un archivo">
                                </kendo-label> -->
                <div class="mt-2 d-flex flex-wrap">
                    <label [for]="'fileInput-' + idx" class="btn btn-success">
                        <i class="bi bi-upload"></i> Subir Archivos
                        <input type="file" class="d-none" [id]="'fileInput-' + idx"
                            (change)="onFileSelected(idx,$event)" multiple />
                    </label>
                </div>

                <div class="mt-2 d-flex flex-wrap">
                    @for (file of attachments[idx]; track $index; let j = $index) {
                    <div class="btn btn-secondary m-1 btn-sm">
                        {{ file.name }}
                        <button type="button" class="btn-close btn-close-sm" (click)="removeFile(idx, j)"
                            aria-label="Close"></button>
                    </div>
                    }

                </div>
                <div class="mt-1 d-flex flex-wrap">
                    Nombre: &nbsp; <span style="font-weight: bold;">{{selectedContacts2[idx].nombre}}</span>


                </div>
                <div class="mt-1 d-flex flex-wrap">
                    Dependencia: &nbsp; <span style="font-weight: bold;">{{selectedContacts2[idx].dependencia}}</span>
                </div>

                <hr class="linea-punteada">
                }

            </div>
            <div class="row mt-1 mb-1">
                <kendo-label><span style="font-weight: bold;">Destinatarios</span>&nbsp;
                    @for (contact of selectedContacts; track $index;){

                    <kendo-chip style="margin-top: 0.3rem;" [label]="contact" [removable]="true"
                        (remove)="onRemove($event)">
                    </kendo-chip>

                    }
                </kendo-label>
            </div>

            <kendo-autocomplete #contactslist [data]="contacts" textField="email" valueField="nombre"
                [kendoDropDownFilter]="{ operator: 'contains' }" [filterable]="true"
                placeholder="Seleccione los Correos" (valueChange)="valueChange($event)">
            </kendo-autocomplete>


            <!-- <div class="row mt-3">
                                <div class="col-6">
                                    <button (click)="addRecipient(contactslist.value); contactslist.value='a' ">Añadir
                                        Correo</button>
                                </div>
                            </div> -->
            <div class="row mt-3 mb-2 d-flex">
                <div class="col-12 d-flex justify-content-center">
                    <button kendoButton (click)="sendEmails()" [disabled]="!enviar_disable">Enviar Correos</button>
                </div>
            </div>
        </div>
    </div>
</div>