/* You can add global styles to this file, and also import other style files */
$kendo-grid-size: 35px; /* Tamaño de las filas */
$kendo-font-size: 13px; /* Tamaño de la fuente */
@import "@progress/kendo-theme-bootstrap/dist/bootstrap-urban.scss";
a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none !important;
  }

.fab-global {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 99999;
}

.fab-img {
  width: 28px;
  height: 28px;
}
.k-fab {
  background: #2563eb !important;
  width: 68px !important;
  height: 68px !important;
  border-radius: 50% !important;
  box-shadow: 0 8px 18px rgba(37, 99, 235, 0.45) !important;
  transition: transform .25s ease, box-shadow .25s ease !important;
}

.fab-img {
  width: 26px !important;
  height: 26px !important;
  object-fit: contain !important;
  display: block !important;
  border-radius: 50%;
  
}
.k-fab:hover {
  transform: scale(1.1) !important;
  box-shadow: 0 10px 24px rgba(37, 99, 235, 0.6) !important;
}

/* icono dentro del FAB */
.k-fab-icon {
  font-size: 28px !important;
}
.fab-global {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
}
