.alert-icon {
    margin-top: 50px;
  width: 100px;     /* ancho */
  height: 100px;    /* alto */
  color: #dc2626;  /* rojo (equivalente a text-red-600 de Tailwind) */
  display: inline-block;
  vertical-align: middle; /* opcional para centrar con texto */
}