<div>
      <div class="max-w-md w-full space-y-8">
        <div class="text-center">
          <div class="mx-auto h-3 w-3 flex items-center justify-center rounded-full">
    <svg class="alert-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
  <!-- Línea vertical del signo de exclamación -->
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
        d="M12 9v2"/>
  <!-- Puntito del signo de exclamación -->
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
        d="M12 15h.01"/>
  <!-- Triángulo de alerta -->
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
        d="M5.062 20h13.876c1.54 0 2.502-1.667 1.732-2.5L13.732 4c-.77-.833-1.964-.833-2.732 0L3.33 17.5c-.77.833.192 2.5 1.732 2.5z"/>
</svg>


            
          </div>
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Acceso Denegado
          </h2>
          <p class="mt-2">
            No tienes permisos para acceder a esta sección
          </p>
          <div class="mt-6">
            <button kendoButton themeColor="info"
              (click)="goBack()">
              Volver a la Pagina Principal
            </button>
          </div>
        </div>
      </div>
    </div>
