 #sectiondefault {
   margin: 0 auto;
   height: auto;
   width: 100%;
   padding-top: 30px;
   padding-left: 15px;
   padding-right: 10px;

   box-sizing: border-box;
 }

 .kendo-wrapper {
   display: block;
 }

 .templatenull {
   display: inline-block;
   background: #3333333f;
   color: #fff;
   font-weight: bold;
   border-radius: 50%;
     width: 20px;
   height: 20px;
   justify-content: center;
   align-items: center;
   padding-top: 2.5px;
 }

 .template {
   display: inline-flex;
   background: #5392e4;
   font-weight: bold;
   color: #fff;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   justify-content: center;
   align-items: center;
 }

 .template9 {
   display: inline-flex;
   background: #046b1e;
   color: #fff;
   font-weight: bold;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   justify-content: center;
   align-items: center;
 }

  .template8 {
   display: inline-flex;
   background: #099b2e;
   color: #fff;
   font-weight: bold;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   justify-content: center;
   align-items: center;
 }
 .template7 {
   display: inline-flex;
   background: #e26613;
   color: #fff;
   font-weight: bold;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   justify-content: center;
   align-items: center;

 }

 .template6 {
   display: inline-flex;
   background: #c4c706;
   color: #fff;
   font-weight: bold;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   justify-content: center;
   align-items: center;

 }

 .template3 {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   background: #f10808;
   color: #ffffff;
   font-weight: bold;
   width: 20px;
   height: 20px;
   border-radius: 50%;
 }

 .row2 {
   flex-wrap: wrap;
   display: flex;
   overflow-x: auto;
 }

 .placeholder {
   opacity: 0.6;
 }

 .tooltip-justificado {
   max-width: 320px;
   text-align: justify;
   white-space: normal;
   line-height: 1.4;
 }

 /* Contenido interno */
 .item-content {
   display: inline-flex;
   align-items: center;
   text-align: center;
   gap: 8px;
   font-size: 11px;
   /* puedes subir/bajar */
   font-weight: 600;
 }

 .k-list-item-content {
   padding: 2px 6px;
 }

 .texto-grande {
   font-size: 20px;
 }

 .card-gauge {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 12px 16px;
   /* espacio arriba y abajo */
   width: fit-content;
   /* se ajusta al contenido */
   background-color: #0d6efd;
   border-radius: 15px;
   box-shadow: 5px 10px 18px #888888;
 }
 .k-badge {
  z-index: 1 !important;
}
.barra {
  position: sticky;
  top: 110px; /* altura del navbar */
  z-index: 99; 
  background: #e0e0d5 /* importante para que no se vea transparente */
}

.barra2 {
  position: sticky;
  top: 130px; /* altura del navbar */
  z-index: 100; 
  background: #e0e0d5 /* importante para que no se vea transparente */
}

.barra3 {
  position: sticky;
  top: 60px; /* altura del navbar */
  z-index: 99; 
  background: #e0e0d5 /* importante para que no se vea transparente */
}

.k-tooltip {
  z-index: 20000 !important;
}

/* Tablet */
@media (max-width: 992px) {
  .barra {
    top: 60px;
  }
}

/* Móvil */
@media (max-width: 576px) {
  .barra {
    top: 140px;
  }
}